{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}
{% from "_render_field.html" import render_button %}


{% block title %}
Change Password
{% endblock %}


{% block content_title %}
Смена пароля
{% endblock %}


{% block content %}
<div class="container">
    <form class="horizontal-form" , method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.old_password) }}
        {{ render_field(form.new_password) }}
        {{ render_field(form.confirm_new_password) }}
        {{ render_button(form.submit) }}
    </form>
    <br>
</div>

{% endblock %}